/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: linear-gradient(45deg, #190f2c, #200b30);
	padding: 15px;
}
main {
	max-width: 800px;
	padding: 1rem;
	margin: 0 auto;
	display: grid;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-auto-rows: 150px;
	grid-auto-flow: dense;

	/* grid-auto-columns: 1fr;  */
	/* grid-auto-rows:  200px; */
	grid-gap: 1rem;
	width: 100%;
  }
  
.card {
	position: relative;
}
.card:hover .colorCode{
	position: absolute;
	top: 50%;
	left: 38%;
	color: white;
	display: block;
}
.card:hover {
	animation: pop 2.5s ease-out 0.5s infinite normal;
	
}
.colorCode {
	display: none;
	margin-right: 10px;
}
.clipboardCopied {
	color: white;
	position: absolute;
	top: 50%;
	left: 45%;
	transition: 2s ease-in;
	/* display: none; */
}

input[type="text"]{
   height: 4rem;
   font-size: 2rem;
   min-width: 500px;
   text-align: center;
}

div {
	text-align: center;

}
  img {
	object-fit: cover;
	width: 1.5rem;
	vertical-align: middle;
	height: 100%;
	border-radius: 10px;
	cursor: pointer;
  }
  
  .item-a {
	/* grid-column: 1 / 2; */
	grid-column: span 2;
	
  }
  
  .item-b {
	/* grid-column: 3 / 4; */
	grid-row: span 2;
  }
  
  .item-c {
	/* grid-column: 2 / 2; */
	grid-column: span 1;
	grid-row: span 1;
  }
  
  .item-d {
	/* grid-column: 4 / 5; */
	grid-row: span 3;
  }
  
  @keyframes pop {
	  0% {
		  transform: scale(1);
	  }
	  25% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
  }